# Import python libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as mplt
import seaborn as sn
%matplotlib inline
sn.set_style("darkgrid")

# Read the datasets

In [2]:
crimes1 = pd.read_csv('/home/java/Desktop/HORIZON2020/DATASETS/women/42_District_wise_crimes_committed_against_women_2001_2012.csv')
crimes2 = pd.read_csv('/home/java/Desktop/HORIZON2020/DATASETS/women/42_District_wise_crimes_committed_against_women_2013.csv')

# Concatenate the datasets

In [3]:
df = pd.concat([crimes1, crimes2])


df.rename(columns={'STATE/UT':'STATE_UT','Dowry Deaths':'Dowry','Assault on women with intent to outrage her modesty':'Assault'},inplace=True)
#print(df)

df.columns

#state_agg_dowry = state_grp.sum().reset_index().sort_values(by='Dowry Deaths')
#state_agg_assault = state_grp.sum().reset_index().sort_values(by='Assault on women with intent to outrage her modesty')

Index(['STATE_UT', 'DISTRICT', 'Year', 'Rape', 'Kidnapping and Abduction',
       'Dowry', 'Assault', 'Insult to modesty of Women',
       'Cruelty by Husband or his Relatives', 'Importation of Girls'],
      dtype='object')

# Check the structure of dataframe

In [4]:
df.shape

(9840, 10)

# Data clean up . Merging states and district names with separate casing to one

In [5]:
df['STATE_UT'] = df.STATE_UT.str.replace('\s+&\s+', '&')
df['DISTRICT'] = df.DISTRICT.apply(lambda x: x.replace('\s+&\s+', '&'))

print(df)

              STATE_UT           DISTRICT  Year  Rape  \
0       ANDHRA PRADESH           ADILABAD  2001    50
1       ANDHRA PRADESH          ANANTAPUR  2001    23
2       ANDHRA PRADESH           CHITTOOR  2001    27
3       ANDHRA PRADESH           CUDDAPAH  2001    20
4       ANDHRA PRADESH      EAST GODAVARI  2001    23
5       ANDHRA PRADESH      GUNTAKAL RLY.  2001     0
6       ANDHRA PRADESH             GUNTUR  2001    54
7       ANDHRA PRADESH     HYDERABAD CITY  2001    37
8       ANDHRA PRADESH         KARIMNAGAR  2001    56
9       ANDHRA PRADESH            KHAMMAM  2001    47
10      ANDHRA PRADESH            KRISHNA  2001    37
11      ANDHRA PRADESH            KURNOOL  2001    29
12      ANDHRA PRADESH      MAHABOOBNAGAR  2001    59
13      ANDHRA PRADESH              MEDAK  2001    35
14      ANDHRA PRADESH           NALGONDA  2001    35
15      ANDHRA PRADESH            NELLORE  2001    46
16      ANDHRA PRADESH          NIZAMABAD  2001    21
17      ANDHRA PRADESH          PRAKASHAM  2001    19
18      ANDHRA PRADESH        RANGA REDDY  2001    72
19      ANDHRA PRADESH  SECUNDERABAD RLY.  2001     0
20      ANDHRA PRADESH         SRIKAKULAM  2001     8
21      ANDHRA PRADESH         VIJAYAWADA  2001    25
22      ANDHRA PRADESH    VIJAYAWADA RLY.  2001     1
23      ANDHRA PRADESH      VISAKHA RURAL  2001    12
24      ANDHRA PRADESH      VISAKHAPATNAM  2001    13
25      ANDHRA PRADESH       VIZIANAGARAM  2001     8
26      ANDHRA PRADESH           WARANGAL  2001    53
27      ANDHRA PRADESH      WEST GODAVARI  2001    61
28      ANDHRA PRADESH              TOTAL  2001   871
29   ARUNACHAL PRADESH          CHANGLANG  2001     1
..                 ...                ...   ...   ...
793         Chandigarh           ZZ TOTAL  2013    45
794         D&N Haveli         D&N HAVELI  2013     5
795         D&N Haveli           ZZ TOTAL  2013     5
796          Daman&Diu              DAMAN  2013     7
797          Daman&Diu                DIU  2013     1
798          Daman&Diu           ZZ TOTAL  2013     8
799           Delhi UT                CAW  2013     0
800           Delhi UT            CENTRAL  2013    71
801           Delhi UT       CRIME BRANCH  2013     4
802           Delhi UT               EAST  2013   210
803           Delhi UT                EOW  2013     0
804           Delhi UT           GRP(RLY)  2013     4
805           Delhi UT        IGI AIRPORT  2013     0
806           Delhi UT         METRO RAIL  2013     0
807           Delhi UT          NEW DELHI  2013    19
808           Delhi UT              NORTH  2013    53
809           Delhi UT         NORTH-EAST  2013   183
810           Delhi UT         NORTH-WEST  2013   143
811           Delhi UT              OUTER  2013   178
812           Delhi UT              SOUTH  2013   163
813           Delhi UT         SOUTH-EAST  2013   230
814           Delhi UT         SOUTH-WEST  2013   194
815           Delhi UT                STF  2013     0
816           Delhi UT               WEST  2013   184
817           Delhi UT           ZZ TOTAL  2013  1636
818        Lakshadweep        LAKSHADWEEP  2013     2
819        Lakshadweep           ZZ TOTAL  2013     2
820         Puducherry           KARAIKAL  2013     6
821         Puducherry         PUDUCHERRY  2013    11
822         Puducherry           ZZ TOTAL  2013    17

     Kidnapping and Abduction  Dowry  Assault  Insult to modesty of Women  \
0                          30     16      149                          34
1                          30      7      118                          24
2                          34     14      112                          83
3                          20     17      126                          38
4                          26     12      109                          58
5                           0      0        1                           0
6                          51      7      139                         129
7                          39     24      118                          27
8                          49     62      414                          81
9                          30     17      180                         336
10                         21     10      208                          72
11                         47     13      141                         107
12                         27     14      176                          41
13                         20     26      100                          25
14                         19     31      188                          59
15                         80     10      207                         228
16                         21     19       55                          15
17                         12      5      140                         100
18                         83     37      113                          55
19                          0      1        0                           1
20                         12      6       38                          47
21                         48      2       84                         122
22                          0      0        1                           1
23                         12      3       67                          48
24                          6      0       33                         462
25                          2      0       40                          22
26                         25     52      241                           0
27                         21     15      246                          56
28                        765    420     3544                        2271
29                          2      0        3                           0
..                        ...    ...      ...                         ...
793                       174      1      143                          26
794                        11      0        1                           1
795                        11      0        1                           1
796                         4      0        2                           0
797                         2      0        0                           0
798                         6      0        2                           0
799                         0      0        1                           0
800                       113      2      174                          28
801                         0      0        0                           0
802                       428     11      364                         133
803                         0      0        0                           0
804                         5      0       11                           1
805                         1      0        9                           5
806                         4      1       16                          12
807                        35      1       66                          25
808                       151      9      164                          25
809                       513     27      333                          30
810                       343     17      301                          45
811                       530     14      332                         155
812                       328     10      539                         140
813                       404     16      386                          95
814                       330     14      419                         128
815                         0      0        0                           0
816                       424     22      400                          94
817                      3609    144     3515                         916
818                         0      0        1                           0
819                         0      0        1                           0
820                         2      1        1                           1
821                        23      0       11                           7
822                        25      1       12                           8

     Cruelty by Husband or his Relatives  Importation of Girls
0                                    175                     0
1                                    154                     0
2                                    186                     0
3                                     57                     0
4                                    247                     0
5                                      0                     0
6                                    378                     0
7                                    746                     0
8                                    224                     0
9                                    172                     0
10                                   265                     0
11                                    92                     0
12                                    69                     0
13                                   192                     0
14                                   214                     0
15                                   287                     0
16                                   228                     0
17                                   119                     0
18                                   421                     7
19                                     0                     0
20                                   108                     0
21                                   520                     0
22                                     0                     0
23                                    99                     0
24                                   204                     0
25                                   121                     0
26                                   165                     0
27                                   348                     0
28                                  5791                     7
29                                     0                     0
..                                   ...                   ...
793                                   92                     0
794                                    1                     0
795                                    1                     0
796                                    2                     0
797                                    0                     0
798                                    2                     0
799                                  202                     0
800                                   50                     0
801                                    0                     0
802                                  246                     0
803                                    0                     0
804                                    0                     0
805                                    0                     0
806                                    2                     0
807                                   17                     0
808                                  107                     0
809                                  438                     0
810                                  236                     0
811                                  466                     0
812                                  117                     0
813                                  220                     0
814                                  403                     0
815                                    0                     0
816                                  529                     0
817                                 3033                     0
818                                    0                     0
819                                    0                     0
820                                    1                     0
821                                    7                     0
822                                    8                     0

[9840 rows x 10 columns]

# Remove Total field from the dataset

In [6]:
no_total_I = df.loc[df.DISTRICT !='TOTAL', :]
no_total_F = no_total_I.loc[no_total_I.DISTRICT !='ZZ TOTAL', :]

no_total_F

,STATE_UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry,Assault,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0
1,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0
2,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0
3,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0
4,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0
5,ANDHRA PRADESH,GUNTAKAL RLY.,2001,0,0,0,1,0,0,0
6,ANDHRA PRADESH,GUNTUR,2001,54,51,7,139,129,378,0
7,ANDHRA PRADESH,HYDERABAD CITY,2001,37,39,24,118,27,746,0
8,ANDHRA PRADESH,KARIMNAGAR,2001,56,49,62,414,81,224,0
9,ANDHRA PRADESH,KHAMMAM,2001,47,30,17,180,336,172,0
10,ANDHRA PRADESH,KRISHNA,2001,37,21,10,208,72,265,0
11,ANDHRA PRADESH,KURNOOL,2001,29,47,13,141,107,92,0
12,ANDHRA PRADESH,MAHABOOBNAGAR,2001,59,27,14,176,41,69,0
13,ANDHRA PRADESH,MEDAK,2001,35,20,26,100,25,192,0
14,ANDHRA PRADESH,NALGONDA,2001,35,19,31,188,59,214,0
15,ANDHRA PRADESH,NELLORE,2001,46,80,10,207,228,287,0
16,ANDHRA PRADESH,NIZAMABAD,2001,21,21,19,55,15,228,0
17,ANDHRA PRADESH,PRAKASHAM,2001,19,12,5,140,100,119,0
18,ANDHRA PRADESH,RANGA REDDY,2001,72,83,37,113,55,421,7
19,ANDHRA PRADESH,SECUNDERABAD RLY.,2001,0,0,1,0,1,0,0
20,ANDHRA PRADESH,SRIKAKULAM,2001,8,12,6,38,47,108,0
21,ANDHRA PRADESH,VIJAYAWADA,2001,25,48,2,84,122,520,0
22,ANDHRA PRADESH,VIJAYAWADA RLY.,2001,1,0,0,1,1,0,0
23,ANDHRA PRADESH,VISAKHA RURAL,2001,12,12,3,67,48,99,0
24,ANDHRA PRADESH,VISAKHAPATNAM,2001,13,6,0,33,462,204,0
25,ANDHRA PRADESH,VIZIANAGARAM,2001,8,2,0,40,22,121,0
26,ANDHRA PRADESH,WARANGAL,2001,53,25,52,241,0,165,0
27,ANDHRA PRADESH,WEST GODAVARI,2001,61,21,15,246,56,348,0
29,ARUNACHAL PRADESH,CHANGLANG,2001,1,2,0,3,0,0,0
30,ARUNACHAL PRADESH,DIBANG VALLEY,2001,2,4,0,4,0,2,0
...,...,...,...,...,...,...,...,...,...,...
785,West Bengal,SILIGURI_PC,2013,35,115,5,206,24,616,0
786,West Bengal,UTTAR DINAJPUR,2013,71,223,5,234,3,793,0
788,A&N Islands,CAR,2013,1,0,0,2,2,0,0
789,A&N Islands,NORTH,2013,5,5,0,10,1,5,0
790,A&N Islands,SOUTH,2013,21,7,1,33,5,4,0
792,Chandigarh,CHANDIGARH,2013,45,174,1,143,26,92,0
794,D&N Haveli,D&N HAVELI,2013,5,11,0,1,1,1,0
796,Daman&Diu,DAMAN,2013,7,4,0,2,0,2,0
797,Daman&Diu,DIU,2013,1,2,0,0,0,0,0
799,Delhi UT,CAW,2013,0,0,0,1,0,202,0
800,Delhi UT,CENTRAL,2013,71,113,2,174,28,50,0
801,Delhi UT,CRIME BRANCH,2013,4,0,0,0,0,0,0
802,Delhi UT,EAST,2013,210,428,11,364,133,246,0
803,Delhi UT,EOW,2013,0,0,0,0,0,0,0
804,Delhi UT,GRP(RLY),2013,4,5,0,11,1,0,0
805,Delhi UT,IGI AIRPORT,2013,0,1,0,9,5,0,0
806,Delhi UT,METRO RAIL,2013,0,4,1,16,12,2,0
807,Delhi UT,NEW DELHI,2013,19,35,1,66,25,17,0
808,Delhi UT,NORTH,2013,53,151,9,164,25,107,0
809,Delhi UT,NORTH-EAST,2013,183,513,27,333,30,438,0
810,Delhi UT,NORTH-WEST,2013,143,343,17,301,45,236,0
811,Delhi UT,OUTER,2013,178,530,14,332,155,466,0
812,Delhi UT,SOUTH,2013,163,328,10,539,140,117,0
813,Delhi UT,SOUTH-EAST,2013,230,404,16,386,95,220,0
814,Delhi UT,SOUTH-WEST,2013,194,330,14,419,128,403,0
815,Delhi UT,STF,2013,0,0,0,0,0,0,0
816,Delhi UT,WEST,2013,184,424,22,400,94,529,0
818,Lakshadweep,LAKSHADWEEP,2013,2,0,0,1,0,0,0
820,Puducherry,KARAIKAL,2013,6,2,1,1,1,1,0
821,Puducherry,PUDUCHERRY,2013,11,23,0,11,7,7,0

# Aggregate the values by year

In [7]:
year_totals = no_total_F.groupby('Year')
year_agg = year_totals.sum().reset_index()


year_agg

,Year,Rape,Kidnapping and Abduction,Dowry,Assault,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,2001,16456,15609,6964,34626,9836,49308,114
1,2002,16776,15399,6957,34389,10283,49372,76
2,2003,16337,14093,6338,33428,12430,51914,46
3,2004,18784,16459,7152,35168,10131,59375,89
4,2005,19017,16856,6901,34937,10209,59643,150
5,2006,19971,18480,7755,37335,10110,64856,67
6,2007,21335,21583,8231,39602,11117,77717,61
7,2008,21933,24075,8301,41024,12344,82731,67
8,2009,21866,27396,8524,39263,11127,90829,48
9,2010,22679,31535,8534,41214,10041,95445,36
10,2011,24778,37650,8760,43625,8732,100710,80
11,2012,25629,40422,8367,46078,9381,108512,59
12,2013,33707,51881,8083,70739,12589,118866,31

# Describe data frame for statistical summary

In [8]:
year_agg.describe()

,Year,Rape,Kidnapping and Abduction,Dowry,Assault,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
count,13.00000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000,13.000000
mean,2007.00000,21482.153846,25495.230769,7759.000000,40879.076923,10640.769231,77636.769231,71.076923
std,3.89444,4733.161485,11759.235917,794.676978,9780.019951,1206.059711,23780.808429,32.627855
min,2001.00000,16337.000000,14093.000000,6338.000000,33428.000000,8732.000000,49308.000000,31.000000
25%,2004.00000,18784.000000,16459.000000,6964.000000,34937.000000,10041.000000,59375.000000,48.000000
50%,2007.00000,21335.000000,21583.000000,8083.000000,39263.000000,10209.000000,77717.000000,67.000000
75%,2010.00000,22679.000000,31535.000000,8367.000000,41214.000000,11127.000000,95445.000000,80.000000
max,2013.00000,33707.000000,51881.000000,8760.000000,70739.000000,12589.000000,118866.000000,150.000000

# PREDICTIVE MODELLING FOR WOMEN'S DATA

In [9]:
from sklearn import preprocessing

no_total_F.columns


var_mod = ['STATE_UT', 'DISTRICT', 'Year', 'Rape', 'Kidnapping and Abduction',
       'Dowry', 'Assault', 'Insult to modesty of Women',
       'Cruelty by Husband or his Relatives', 'Importation of Girls']
le = preprocessing.LabelEncoder()
for i in var_mod:
    no_total_F[i] = le.fit_transform(no_total_F[i])
no_total_F.dtypes

/home/java/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

STATE_UT                               int64
DISTRICT                               int64
Year                                   int64
Rape                                   int64
Kidnapping and Abduction               int64
Dowry                                  int64
Assault                                int64
Insult to modesty of Women             int64
Cruelty by Husband or his Relatives    int64
Importation of Girls                   int64
dtype: object

In [20]:
no_total_F.head

<bound method NDFrame.head of      STATE_UT  DISTRICT  Year  Rape  Kidnapping and Abduction  Dowry  Assault  \
0           2         3     0    50                        30     16      149
1           2        31     0    23                        30      7      118
2           2       157     0    27                        34     14      112
3           2       175     0    20                        20     17      126
4           2       225     0    23                        26     12      109
5           2       284     0     0                         0      0        1
6           2       285     0    54                        51      7      139
7           2       313     0    37                        39     24      118
8           2       398     0    56                        49     62      352
9           2       412     0    47                        30     17      180
10          2       452     0    37                        21     10      208
11          2       457     0    29                        47     13      141
12          2       484     0    59                        27     14      176
13          2       504     0    35                        20     26      100
14          2       541     0    35                        19     31      188
15          2       557     0    46                        80     10      207
16          2       561     0    21                        21     19       55
17          2       602     0    19                        12      5      140
18          2       640     0    72                        83     37      113
19          2       678     0     0                         0      1        0
20          2       730     0     8                        12      6       38
21          2       802     0    25                        48      2       84
22          2       804     0     1                         0      0        1
23          2       808     0    12                        12      3       67
24          2       809     0    13                         6      0       33
25          2       810     0     8                         2      0       40
26          2       814     0    53                        25     52      241
27          2       820     0    61                        21     15      246
29          3       145     0     1                         2      0        3
30          3       213     0     2                         4      0        4
..        ...       ...   ...   ...                       ...    ...      ...
785        69       703    12    35                       115      5      206
786        69       792    12    71                       214      5      234
788         1       130    12     1                         0      0        2
789         1       562    12     5                         5      0       10
790         1       723    12    21                         7      1       33
792        12       142    12    45                       172      1      143
794        15       179    12     5                        11      0        1
796        18       183    12     7                         4      0        2
797        18       219    12     1                         2      0        0
799        19       131    12     0                         0      0        1
800        19       134    12    71                       113      2      174
801        19       169    12     4                         0      0        0
802        19       224    12   187                       292     11      331
803        19       226    12     0                         0      0        0
804        19       280    12     4                         5      0       11
805        19       317    12     0                         1      0        9
806        19       507    12     0                         4      1       16
807        19       558    12    19                        35      1       66
808        19       562    12    53                       151      9      164
809        19       566    12   173                       300     27      308
810        19       567    12   143                       277     17      289
811        19       571    12   168                       301     14      307
812        19       723    12   157                       269     10      368
813        19       726    12   195                       287     16      344
814        19       727    12   181                       270     14      354
815        19       735    12     0                         0      0        0
816        19       819    12   174                       291     22      348
818        37       466    12     2                         0      0        1
820        54       393    12     6                         2      1        1
821        54       604    12    11                        23      0       11

     Insult to modesty of Women  Cruelty by Husband or his Relatives  \
0                            34                                  175
1                            24                                  154
2                            83                                  186
3                            38                                   57
4                            58                                  247
5                             0                                    0
6                           129                                  377
7                            27                                  596
8                            81                                  224
9                           241                                  172
10                           72                                  265
11                          107                                   92
12                           41                                   69
13                           25                                  192
14                           59                                  214
15                          203                                  287
16                           15                                  228
17                          100                                  119
18                           55                                  415
19                            1                                    0
20                           47                                  108
21                          122                                  492
22                            1                                    0
23                           48                                   99
24                          256                                  204
25                           22                                  121
26                            0                                  165
27                           56                                  347
29                            0                                    0
30                            0                                    2
..                          ...                                  ...
785                          24                                  541
786                           3                                  609
788                           2                                    0
789                           1                                    5
790                           5                                    4
792                          26                                   92
794                           1                                    1
796                           0                                    2
797                           0                                    0
799                           0                                  202
800                          28                                   50
801                           0                                    0
802                         133                                  246
803                           0                                    0
804                           1                                    0
805                           5                                    0
806                          12                                    2
807                          25                                   17
808                          25                                  107
809                          30                                  429
810                          45                                  236
811                         149                                  453
812                         137                                  117
813                          95                                  220
814                         128                                  400
815                           0                                    0
816                          94                                  495
818                           0                                    0
820                           1                                    1
821                           7                                    7

     Importation of Girls
0                       0
1                       0
2                       0
3                       0
4                       0
5                       0
6                       0
7                       0
8                       0
9                       0
10                      0
11                      0
12                      0
13                      0
14                      0
15                      0
16                      0
17                      0
18                      7
19                      0
20                      0
21                      0
22                      0
23                      0
24                      0
25                      0
26                      0
27                      0
29                      0
30                      0
..                    ...
785                     0
786                     0
788                     0
789                     0
790                     0
792                     0
794                     0
796                     0
797                     0
799                     0
800                     0
801                     0
802                     0
803                     0
804                     0
805                     0
806                     0
807                     0
808                     0
809                     0
810                     0
811                     0
812                     0
813                     0
814                     0
815                     0
816                     0
818                     0
820                     0
821                     0

[9397 rows x 10 columns]>

# Build the predictive model using Regression

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import KFold   
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import metrics

/home/java/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [12]:
# Define a function for making a classification model and accessing performance:
def classification_model(model, data, predictors, outcome):
    # Fit the model
    model.fit(data[predictors],data[outcome])
  
    # Make predictions on training set:
    predictions = model.predict(data[predictors])
  
    # Print accuracy
    accuracy = metrics.accuracy_score(predictions,data[outcome])
    print ('Accuracy : %s' % '{0:.3%}'.format(accuracy))

    # Perform k-fold cross-validation with 10 folds
    kf = KFold(data.shape[0], n_folds=10)
    error = []
    for train, test in kf:
    
    # Filter training data
        train_predictors = (data[predictors].iloc[train,:])
    
    # The target we're using to train the algorithm.
        train_target = data[outcome].iloc[train]
    
    # Training the algorithm using the predictors and target.
        model.fit(train_predictors, train_target)
    
    # Record error from each cross-validation run
        error.append(model.score(data[predictors].iloc[test,:], data[outcome].iloc[test]))
 
    print('Cross-Validation Score : %s' % '{0:.3%}'.format(np.mean(error)))

    # Fit the model again so that it can be refered outside the function:
    model.fit(data[predictors],data[outcome])

# Create the regression model

In [19]:
# Logistic regression
outcome_var = 'Rape'
model = LogisticRegression()

predictor_var = ['STATE_UT', 'DISTRICT', 'Year', 'Kidnapping and Abduction',
       'Dowry', 'Assault', 'Insult to modesty of Women',
       'Cruelty by Husband or his Relatives', 'Importation of Girls']

classification_model(model, no_total_F,predictor_var,outcome_var)

Accuracy : 9.077%
Cross-Validation Score : 7.885%

# Random Forest

In [15]:
# Random forest - more sophisticated model
# We see that the accuracy is 100% for the training set. This is a case of overfitting
# It can be resolved in two ways:
# 1. Reducing the number of predictors
# 2. Tuning the model parameters
model = RandomForestClassifier(n_estimators=100)
classification_model(model, no_total_F,predictor_var,outcome_var)

Accuracy : 99.989%
Cross-Validation Score : 10.152%

# Create a series with feature importances:

In [16]:
# Create a series with feature importances:
featimp = pd.Series(model.feature_importances_, index=predictor_var).sort_values(ascending=False)
print (featimp)

Assault                                0.152154
Cruelty by Husband or his Relatives    0.148748
Kidnapping and Abduction               0.144423
DISTRICT                               0.143765
Year                                   0.125183
Dowry                                  0.107113
Insult to modesty of Women             0.090696
STATE_UT                               0.081584
Importation of Girls                   0.006334
dtype: float64